.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 300px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.counter span{
  font-size: 68px;
}

.counter button{
  background-color: blue;
  color: #fff;
  border: 0;
  padding: 10px 28px;
  font-weight: 580;
  border-radius: 10px;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}