
/* - HEADER - */
header{
  background-color: #000; 
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 40px;
}

#navbar img {
  width: 50px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list .nav-item {
  margin-right: 40px;
}

.nav-list .nav-item:last-child {
  margin-right: 0;
}

.nav-list .nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-list .nav-item.active {
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

/* main {
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}  */